{% extends 'blog/test.html' %}

{% block content %}
    <!--<div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        
        <h1>{{ post.title }}</h1>
        <p>{{ post.artikel|linebreaks }}</p>
    </div>-->
    <div class="row">
		  		<div class="col-md-12 panel-warning">
		  			<div class="content-box-header panel-heading">
	  					<div class="panel-title "><h1>{{ post.title }}</h1></div>
						{% if post.published_date %}
						<div class="panel-options">
							<!--<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
							<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>-->
							{{ post.published_date }}
						</div>
						{% endif %}
		  			</div>
		  			<div class="content-box-large box-with-header">
			  			<p>{{ post.artikel|linebreaks }}</p>
						<br /><br />
					</div>
		  		</div>
		  	</div>
{% endblock %}